<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1>Time that Turkey</h1>
<p> Put in the time and temperature at two points for your turkey.
This will tell you when it's expected to get to 165 degrees.</p>
<p>Put temps in farenheight.</p>
<p>And time in minutes.</p>

<form action="data" method = "POST">
    <p>Temp 1 <input type = "number" name = "temp_1" /></p>
    <p>Time 1 <input type = "number" name = "time_1" /></p>
    <p>Temp 2 <input type = "number" name = "temp_2" /></p>
    <p>Time 2 <input type = "number" name = "time_2" /></p>
    <p>Oven Temp <input type = "number" name = "oven_temp" /></p>
    <p><input type = "submit" value = "submit" /></p>
</form>

{% endblock content %}
